# Konfigurasi Telegram
TELEGRAM_BOT_TOKEN=""
TELEGRAM_ALLOWED_USERS=""


# Konfigurasi Keamanan Internal
SEARXNG_SECRET=""

# (Opsional) Endpoint Antigravity Manager
ANTIGRAVITY_ENDPOINT="http://localhost:8045/v1/chat/completions"

# (Opsional) Google OAuth Credentials
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# (Opsional) Github Personal Access Token
GITHUB_PERSONAL_ACCESS_TOKEN=""
